    <div class="col-md-4 mb-4">
        <div class="card bg-light">
            <div class="card-header text-white bg-primary">
                <h4><%= htmlParams.name %></h4> 
                <h4><%= htmlParams.role %></h4>
            </div>
            <div class="card m-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: <%= htmlParams.id %></li>
                    <li class="list-group-item">Email: <%= htmlParams.email %></li>
                    <li class="list-group-item"><%= htmlParams.option1def %>: <%= htmlParams.option1val %></li>
                </ul>
            </div>
        </div>
    </div>
