    <div class="col-md-4 mb-4">
        <div class="card bg-light">
            <div class="card-header text-white bg-primary">
                <h4><%= htmlParams.name %></h4> 
                <h4><%- htmlParams.icon %>&nbsp;<%= htmlParams.role %></h4>
            </div>
            <div class="card m-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: <%= htmlParams.id %></li>
                    <li class="list-group-item">Email: <a href="mailto:<%= htmlParams.email %>"><%= htmlParams.email %></a></li>
                    <li class="list-group-item"><%= htmlParams.option1def %>: 
                        <% if (htmlParams.role === "Engineer") { %>
                            <a href="https://github.com/<%= htmlParams.option1val %>"><%= htmlParams.option1val %></a></li>
                        <% } else { %>
                            <%= htmlParams.option1val %></a></li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
